@{
    ViewData["Title"] = "Home Page";
}

<diV>
    <table border="3">
        <tr>
            <th colspan="3">Welcome To CRUD Operations in Model View Control (MVC) Core</th>
        </tr>
        <tr>
            <td>
                <a asp-controller="View" asp-action="ViewEmp" >
                    <img src="/Images/EmpImg1.jpg" />
                </a>
                <a asp-controller="View" asp-action="ViewLocn">
                    <img src="/Images/LocnImg1.jpg" />
                </a>
                <a asp-controller="View" asp-action="ViewDept">
                    <img src="/Images/DepImg1.png" />
                </a>
                
            </td>
        </tr>


    </table>
</diV>


