@{

}
<body>
    <form method="post"  asp-controller="Insert" asp-action="InsertLocnC">
        <table>
            <tr>
                <th>Insert Page</th>
            </tr>
            <tr>
                <th>Location Id</th>
                <th>Location Description</th>
            </tr>
            <tr>
                <td><input type="text" id="id" name="id" /></td>
                <td><input type="text" id="name" name="name" /></td>
            </tr>
            <tr>
                <td><input type="submit"/></td>
            </tr>
        </table>
    </form>
</body>