<body>
    <form method="post" asp-controller="Insert" asp-action="InsertDept2">
        <table>
            <tr>
                <th>Insertion Dept Table</th>
            </tr>
            <tr>
                <th>Department ID</th>
                <th>Department Name</th>
            </tr>
            <tr>
                <td><input type="text" id="id" name="id" /></td>
                <td><input type="text" id="name" name="name" /></td>
            </tr>
            <tr>
                |
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</body>